a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(32, 125, 233, 0.8);
}
a:hover {
  color: #207de9;
}
a:visited {
  color: #692d94;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f9f7fe;
  color: #272142;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 5px;
  margin-bottom: 20px;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  margin: 0 0 10px;
}
footer {
  text-align: center;
}
select {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 20px;
}
img {
  width: 40px;
  height: 40px;
}

.container {
  max-width: 625px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
.city {
  border-bottom: 1.5px dashed rgba(39, 32, 68, 0.2);
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}
.date {
  color: rgba(0, 0, 0, 0.5);
}
.time {
  font-size: 50px;
}

.time,
.city {
  align-items: center;
}
